# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore session keys
.sesskey

# Ignore other unnecessary files
*.log
*.tmp
.DS_Store
.env
.vscode/
.sample_data.xlsx

# Ignore environment directories
env/
venv/
